.universalBtn {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: space-between;*/
}

.set {
    margin: 0 0 10px ;
    align-self: center;
}

.group {
    margin-left: 5px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.twoButtons{
    align-self: center;
}